* {
  margin: 0;
  padding: 0;
}

body {
  background: #151515;
}

.normalPicture {
  width: 100%;
  height: auto;
}

/* .frontPage {
  background: rgba(201, 175, 137, 0.919);
} */

.comiclist-page {
  padding-top: 2vh;
}
.comicPage {
  width: 80%;
  height: auto;
}

.comicBackground {
  background: moccasin;
  /* width: fit-content; */
}

.relative {
  position: relative;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.list-element {
  max-width: 50%;
  background: rgb(255, 250, 241);
  padding: 4%;
  text-align: center;
}

/* .image-list {
  background: rgba(201, 175, 137, 0.919);
  text-align: center;
  margin: 5;
} */
.dropdown-menu {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: right;
  background-color: aliceblue;
}
