* {
  margin: 0;
  padding: 0;
}

body {
  background: #181819;
}

.frontpage-picture {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 8vh;
  margin-bottom: 2vh;
}
